.box-centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-en-bas{
    position: relative;
    bottom: 0vh;
}

.box-en-haut{
    top: 0vh;
    position: relative;
    /*
    position: relative;
    position: absolute;
    position: fixed;
    position: sticky;
    justify-self: flex-start;*/
}

.box-sans-contour{
    border: 0px solid;

}