.box-centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-ecran{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.box-en-bas{
    position: relative;
    bottom: 0vh;
}

.box-en-haut{
    top: 0vh;
    position: relative;
    /*
    position: relative;
    position: absolute;
    position: fixed;
    position: sticky;
    justify-self: flex-start;*/
}

.box-sans-contour{
    border: 0px solid;

}

.box-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-horizontal-gauche{
    display: flex;
    flex-direction: row;
    left : 0vh;
    align-items: center;
}

.box-horizontal-droite{
    display: flex;
    flex-direction: row;
    right : 0vh;
    align-items: center;
}

.test{
    position: absolute;
}